body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url("sfondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

p{
    margin:0;
    padding:0;
    
}
h1{                                        
    margin:0;
    padding:0;
}

h2{
    margin:0;
    padding:0;
}

#Lim {
    width: 25%;
    height: 60%;
    display: inline;                              /* Imposta l'immagine come elemento inline */
    text-align: center;                           /* Centra l'immagine orizzontalmente nel suo contenitore */
    align-items: center;
    align-content: center;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top:8%;
}
                                                   /* Overlay */
.overlay {                                        
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-right:70px;
    padding-left:70px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
    align-content: center;
   
    margin-top:2%;
    margin-bottom:10%;

    
}

#titolo{
color: #00ff00;
font-family: "Nome del Font", sans-serif;
text-align: center;
}

.navbar {
    background-color: #00ff00;                  /* Sfondo verde fluo*/
    padding: 10px 0px;
    text-align: center;                           /* Allineamento bottoni */
    width: 1050px;
    margin-bottom: 20px;
   
}

.navbar button {
    background-color: white;                    /* Sfondo Bianco tasti */
    color: black;                               /* Testo tasti colore nero */
    padding: 5px 2px;                             /* Spazio della cornice */
    margin: 0 1px;                                /* Spazio fra i bottoni */
    text-align: center;
    display: inline-block;
    font-size: 12px;                              /* Dimensioni Font */
    cursor: pointer;                              /* Cambio icona puntatotore tasti */

}

                                                  /* Barra carica GIALLA */
#giallo {
    background-color: rgb(240, 220, 9);
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 35px;
}

                                                 /* Barra carica VERDE */
#verde {
    background-color: rgb(28, 240, 9);
    width: 75%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 35px;
    
}

                                                  /* Barra carica ROSSA */
#rosso {
    background-color: rgb(240, 9, 9);
    width: 15%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 90px;
}
